<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>

  <ul>
    <% categories.forEach(category => { %>
      <li><strong><a href="/category/<%= category.category_id %>"><%= category.name %></a>: </strong> <%= category.description %></li>
    <% }); %>
  </ul>
</main>
<%- include('partials/footer') %>