<%- include('partials/header') %>
<main>
    <h1><%= category.name %></h1>
    
    <h2>Service Projects in this Category</h2>
    
    <% if (projects.length > 0) { %>
        <ul class="project-list">
            <% projects.forEach(project => { %>
                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.title %>
                    </a>
                    <br>
                    <small>
                        Organization: 
                        <a href="/organization/<%= project.organization_id %>">
                            <%= project.organization_name %>
                        </a>
                    </small>
                    <br>
                    <small>Date: <%= project.date %></small>
                    <br>
                    <small>Location: <%= project.location %></small>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No service projects currently in this category.</p>
    <% } %>
    
    <p><a href="/categories">Back to all categories</a></p>
</main>

<%- include('partials/footer') %>