<%- include('partials/header') %>
 <main>
    <h1><%= project.title %></h1>
    <p><strong>Description:</strong> <%= project.description %></p>
    <p><strong>Date:</strong>
        <%= new Date(project.start_date).toLocaleDateString('en-US', {
            weekday: 'long',
            month: 'long',
            day: 'numeric',
            year: 'numeric'
        }) %>
    </p>

    <p><strong>Location:</strong> <%= project.location %></p>
   <p><strong>Partner Organization:</strong> <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a></p>

   <% if (locals.user && locals.user.role_name === 'admin') { %>
<p><a href="/edit-project/<%= project.project_id %>">Edit Project</a></p>
  <p><a href="/project/<%= project.project_id %>/assign-categories">Manage Categories</a></p>
  <% } %>
  
<section class="project-categories">
        <h3>Related Categories:</h3>
        <% if (categories && categories.length > 0) { %>
            <ul>
                <% categories.forEach(cat => { %>
                    <li>
                        <a href="/category/<%= cat.category_id %>">
                            <%= cat.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>This project has no assigned categories.</p>
        <% } %>

    </section>
    <hr>
    <p><a href="/projects">← Back to Upcoming Projects</a></p>

</main>
<%- include('partials/footer') %>
