<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <% if (projects.length > 0) { %>
        <ul class="project-list">
            <% projects.forEach(project => { %>
                <li>
                    <strong>
                        <a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a>
                    </strong>
                    <br>
                    <small>
                        Organization: 
                        <a href="/organization/<%= project.organization_id %>">
                            <%= project.organization_name %>
                        </a>
                    </small>
                    <br>
                    <small>Date: <%= project.date %></small>
                    <br>
                    <small>Location: <%= project.location %></small>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No upcoming service projects at this time.</p>
    <% } %>
</main>

<%- include('partials/footer') %>